---
import MainLayout from '../layouts/MainLayout.astro';
---
<!-- // Your homepage -->
<MainLayout title="Fashion Portfolio">
	
		<main class="max-w-7xl mx-auto px-4 py-16">
		  <div class="text-center">
			<h2 class="text-5xl font-bold mb-4">Karen Dettmar</h2>
			<p class="text-xl text-gray-600 mb-8">Showcasing my design work and illustrations</p>
			<div class="flex flex-col items-center justify-center gap-3 lg:col-start-1">
			<div class="squircle-bg rounded-lg bg-zinc-900" data-cursor-hover >
				<a class="flex h-10 w-full max-w-52 flex-1 items-center justify-center px-4 py-2 text-xl text-slate-200 transition-all hover:text-white sm:w-auto md:font-bold lg:h-10"
				aria-label="All Projects" href="/projects" class="bg-black text-white px-6 py-3 rounded-lg hover:bg-gray-800">
					View Projects
				  </a>
				</div>
			</div>
			
		  </div>
		</main>

</MainLayout>

<style>
/* Text rotator */
.rotator > span {
		position: absolute;
	}

	.rotator > span:not(:nth-child(1)) {
		opacity: 0;
	}
	</style>
	<script>

	</script>